.action-buttons{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.color-change{
    display: flex;
    justify-content: center;
}

.button{
    background: pink;
    width: fit-content;
    border-width: 0;
    border-radius: 3%;
    height: 33px;
    margin-left: 5px;
    cursor: pointer;
}